/* ===== Estilo base ===== */
body {
  background: #111 !important;
  color: #fff !important;
  font-family: Arial, sans-serif;
  text-align: center;
}

#container-page {
  padding: 10px;
}

h1 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

/* ===== Contenedor general ===== */
#resumen {
  margin: 10px auto 5px auto;
  text-align: left;
  /* ← de centro a izquierda */
  max-width: 800px;
  /* opcional, para que no ocupe todo el ancho */
}

#resumen span {
  display: inline-block;
  margin: 0 4px 2px 0;
  /* margen entre usuarios */
}

/* Centra botones superiores */
.botones-superiores {
  margin-bottom: 15px;
}

.botones-superiores button {
  margin: 0 4px;
}

/* ===== Calendario ===== */
#calendario {
  /*display: grid;*/
  /*gap: 24px;*/
  /*padding: 10px;*/

  /* por defecto, 1 columna (móvil) */
  grid-template-columns: 1fr;
}

/* Tablets tipo iPad: 3 columnas */
@media(min-width: 768px) and (max-width: 1279px) {
  #calendario {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Pantallas grandes: 4 columnas */
@media(min-width: 1280px) {
  #calendario {
    grid-template-columns: repeat(4, 1fr);
  }
}

.mes {
  border: 1px solid #333;
  background: #1c1c1c;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
  /* ocupa el ancho de la celda del grid */
}

.mes h2 {
  background: #503685;
  padding: 6px;
  margin: 0 0 6px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

/* ===== Tabla ===== */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th {
  background: #222;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

td {
  border: 1px solid #333;
  width: 13%;
  /* columnas más estrechas */
  height: 56px;
  /* más alto para iconos */
  text-align: center;
  vertical-align: middle;
  position: relative;
  border-radius: 2px;
}

/* ===== Botón "+" ===== */
.add-btn {
  opacity: 0;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent !important;
  border: none !important;
}

.add-btn:hover {
  background: #888 !important;
  transform: scale(1.1);
}

/* ===== Iniciales ===== */
.asignados {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.inicial {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 11px;
  margin: 1px;
  color: #000;
  font-weight: bold;
}

/* ===== Selector múltiple ===== */
select.multiselect {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  display: none;
  z-index: 10;
  background: #222;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 2px;
}

/*tbody, td, tfoot, th, thead, tr*/
.monthtd {
  border-color: white;
  border-width: 1px;
}

.menu-ext {
  width: 250px;
  text-align: left;
  padding: 5px;
}

#login-card {
  background: #222;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  text-align: center;
  width: 90%;
  /* ocupa casi todo el ancho */
  max-width: 350px;
  /* límite superior */
  margin: 0 auto;
  /* centrar */
  color: black;
}


#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

.comentario {
  color: white;
}

.comentario-dia {
  font-size: 0.8rem;
  line-height: 1.2;
  resize: none;
  overflow: hidden;
  min-height: 2em;
  /* para que tenga altura inicial */
  padding: 6px;
}

.comentario-icono {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #fff;
  background: #666639;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}


.vacaciones-ninos {
  background: rgb(255 60 60 / 25%) !important;
  /* border-color: rgba(255, 0, 0, 0.5); */
}

.festivo-estatal {
  background-color: #0f0f47;
}

/* rojo claro */
.festivo-autonomico {
  background-color: #333a94;
}

/* verde claro */
.festivo-local {
  background-color: rgb(94, 89, 138);
}

/* azul claro */

#legend-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  /* mayor que 9999 del overlay */
  text-align: right;
}

.fin-de-semana {
  background-color: #333 !important;
}

.disabled-control {
  pointer-events: none;
}

.add-btn.disabled,
#importar.disabled,
#exportar.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.resum-year {
  color: white;
}

/* En móviles: ocupa todo el ancho y más alto */
@media (max-width: 576px) {
  .monthtd {
    height: 70px;
  }

  #calendario {
    padding: 0px;
  }

  .resum-year-total {
    font-size: 13px;    
  }

  #calendar-title {
    font-size: 25px;
  }
}

@media print {
  body, table, td, th {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important;              /* Firefox */
    background-color: initial !important;
  }

  .resum-year,.resum-year-total {    color: black !important;  }
  /* Forzar colores de tus clases importantes */
  .mes { background: #1c1c1c !important; }
  .mes h2 { background: #503685 !important; color: #fff !important; }
  .monthtd { border-color: white !important; }
  .vacaciones-ninos { background: rgb(255 60 60 / 25%) !important; }
  .festivo-estatal { background-color: #0f0f47 !important; }
  .festivo-autonomico { background-color: #333a94 !important; }
  .festivo-local { background-color: rgb(94, 89, 138) !important; }
}

.google-btn-wrapper {
  width: 100%;
  max-width: 320px;
  /* opcional, para que no se pase de tamaño */
  margin: 0 auto;
  /* centrar */
}

.resum-year-total {
  color: #000;
  border-radius: 4px;
  padding: 2px 5px;
  cursor: pointer;
}

.divider-resum {
  border-bottom: 2px solid #555;
  margin: 8px 0;
}

/* Aumentar tamaño de los checkboxes dentro del multi-menu */
.multi-menu .form-check-input {
  transform: scale(1.6);
  /* Tamaño más grande */
  margin-right: 0.5rem;
}

/* Alinear mejor el texto con los checkboxes más grandes */
.multi-menu .form-check-label {
  font-size: 1rem;
  vertical-align: middle;
}

.option-user {
  padding: 10px;
}

.multi-menu {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  color: #fff;
  border-radius: 10px;
  padding: 16px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 5000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  display: none;
  /* sigue oculto por defecto */
}

.comentario-dia:empty:before {
  content: attr(placeholder);
  color: #888;
  /* color del placeholder */
  pointer-events: none;
}

.multi-menu .close-menu {
  position: absolute;
  top: -4px;
  right: 5px;
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 36px;
  cursor: pointer;
}

#popup-dias {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  color: white;
  padding: 30px;
  border-radius: 1rem;
  z-index: 9999;
  max-height: 80vh;
  overflow: auto;
}

#popup-close {
  position: absolute;
  top: -12px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 33px;
  cursor: pointer;
}

.navbar-toggler {
  background-color: white !important;
}


#navbarMenu {
    position: static;
    top: 50px;
    right: 10px;
    background: rgb(34, 34, 34);
    border-radius: 6px;
    min-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px;
    /* width: 150px; */
    z-index: 999; 
}

#navbarMenu .nav-item {
  padding: 10px !important;
}

.btn-close-black {
  background-color: white; /* Fondo blanco */
}

.navbar{
    position: absolute !important;
    right: -3px !important;
}

#popup-title{
  font-size: 20px;
}